{{#partial "content"}}
    <section>
        <div class="container">
            <div class="entry-list single">
                <article>
                    <h1>{{ blogEntry.title }}</h1>
                    <time datetime={{ blogEntry.date }}>{{ blogEntry.date }}</time>
                    <div class="entry">
                        <p>{{ blogEntry.entry }}</p>
                        <p><a class="link" href="/protected/edit/{{ blogEntry.slug }}">Edit Entry</a></p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="entry-comments">
        <div class="container">
            <h2>Comments</h2>
            {{#each blogEntry.comments}}
                <div class="comment">
                    <strong>{{ this.name }}</strong>
                    <time datetime={{ this.date}}>{{ this.date}}</time>
                    <p>{{ this.comment }}</p>
                </div>
            {{/each}}
            <div class="new-comment">
                <form action="/{{ blogEntry.slug }}/comment" method="post" >
                    <label for="name"> Name</label>
                    <input type="text" name="name"><br>
                    <label for="comment">Comment</label>
                    <textarea rows="5" name="comment"></textarea>
                    <input type="submit" value="Post Comment" class="button">
                </form>
            </div>
        </div>
    </section>
{{/partial}}
{{>base.hbs}}